/* css/style.css */

  /*css style for header*/
  .nav-link {
    border: 1px solid white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }

  .nav-link:not(:first-child) {
    border-left: none; /* menghilangkan jarak antar menu */
  }

  .nav-link:hover {
    background-color: #0ea5e9; /* sky-500 */
  }



  /*Message US CSS list part half of it*/  
  .form-input {
    @apply w-full border border-gray-300 px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-sky-500;
  }

  .form-radio {
    @apply text-sky-600 focus:ring-sky-500;
  }

  .form-textarea {
    @apply w-full border border-gray-300 px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-sky-500;
  }


  /* css/style.css of <body> tag, <html> tag and <id="services"> tag */
  body {
    scroll-behavior: smooth;
  }

  .shadow-3xl {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }

  html {
    scroll-behavior: smooth;
  }

  #services {
    margin-top: 100px;
  }



}